[data-theme="light"]{
--bodybg: #f0eeee;
--mainbg: #cac9c8;
--ogList: #ffc0cb;
--doneList: #e9e9aa;
--headerbg: #83a883;
--taskbg: #d8a3ac;
--inputbg:#f6e5e7;
--buttonbg:#7592ab;
--buttonbghover: #bc96bf;
}

[data-theme="dark"]{
--bodybg: #232323;
--mainbg: #3e3e3e;
--ogList: #bd8f97;
--doneList: #a9a97d;
--headerbg: #5a725a;
--taskbg: #9a757b;
--inputbg:#e0c3c7;
--buttonbg:#688094;
--buttonbghover: #886b8a;
}